<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>07-03-cs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookieTest01</display-name>
    <servlet-name>CookieTest01</servlet-name>
    <servlet-class>com.monkey1024.servlet.CookieTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest01</servlet-name>
    <url-pattern>/test/Cookie01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest02</display-name>
    <servlet-name>CookieTest02</servlet-name>
    <servlet-class>com.monkey1024.servlet.CookieTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest02</servlet-name>
    <url-pattern>/test/Cookie02</url-pattern>
  </servlet-mapping>
</web-app>