<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>07-08-upload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.monkey1024.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletMany</display-name>
    <servlet-name>UploadServletMany</servlet-name>
    <servlet-class>com.monkey1024.servlet.UploadServletMany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletMany</servlet-name>
    <url-pattern>/upload_many</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletUUID</display-name>
    <servlet-name>UploadServletUUID</servlet-name>
    <servlet-class>com.monkey1024.servlet.UploadServletUUID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletUUID</servlet-name>
    <url-pattern>/uploaduuid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletFiles</display-name>
    <servlet-name>UploadServletFiles</servlet-name>
    <servlet-class>com.monkey1024.servlet.UploadServletFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletFiles</servlet-name>
    <url-pattern>/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet1</display-name>
    <servlet-name>DownloadServlet1</servlet-name>
    <servlet-class>com.monkey1024.servlet.DownloadServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet1</servlet-name>
    <url-pattern>/download1</url-pattern>
  </servlet-mapping>
</web-app>