<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>07-02-httpservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>http1</servlet-name>
    <servlet-class>HttpServlet.HttpTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>http1</servlet-name>
    <url-pattern>/http1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpTest02</display-name>
    <servlet-name>HttpTest02</servlet-name>
    <servlet-class>HttpServlet.HttpTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpTest02</servlet-name>
    <url-pattern>/HttpTest02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest01</display-name>
    <servlet-name>RequestTest01</servlet-name>
    <servlet-class>HttpServlet.RequestTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest01</servlet-name>
    <url-pattern>/RequestTest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest01</display-name>
    <servlet-name>ResponseTest01</servlet-name>
    <servlet-class>HttpServlet.ResponseTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest01</servlet-name>
    <url-pattern>/ResponseTest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forward01</display-name>
    <servlet-name>Forward01</servlet-name>
    <servlet-class>HttpServlet.Forward01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forward01</servlet-name>
    <url-pattern>/Forward01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardOther01</display-name>
    <servlet-name>ForwardOther01</servlet-name>
    <servlet-class>HttpServlet.ForwardOther01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardOther01</servlet-name>
    <url-pattern>/ForwardOther01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect01</display-name>
    <servlet-name>Redirect01</servlet-name>
    <servlet-class>HttpServlet.Redirect01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect01</servlet-name>
    <url-pattern>/Redirect01</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>RedirectOther01</display-name>
    <servlet-name>RedirectOther01</servlet-name>
    <servlet-class>HttpServlet.RedirectOther01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectOther01</servlet-name>
    <url-pattern>/RedirectOther01</url-pattern>
  </servlet-mapping>
</web-app>